<!DOCTYPE html>

<html>

<head>
    <title>Aboot</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <img class ="logo" src="/img/nodejs.png">
    </div>

    {{>footer}}
</body>

</html>